.imageWrapper {
  margin-bottom: 10px
}

:global(.ui.image).image {
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

:global(.ui.image).profileImage {
  margin: 0 auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}
